<div class="lg:mt-3">
  <p class="text-[20px] md:text-heading-l font-light text-pure-white">
    Trending
  </p>
  <div class="mt-4 flex items-center no-scrollbar gap-4">
    <app-bookmark></app-bookmark>
    <app-bookmark></app-bookmark>
    <app-bookmark></app-bookmark>
    <app-bookmark></app-bookmark>
  </div>
</div>

<div class="lg:mt-3">
  <p class="text-[20px] md:text-heading-l font-light text-pure-white">
    Recommended for you
  </p>
  <div class="mt-4 flex flex-row justify-between gap-y-4 md:gap-6 lg:gap-y-8 flex-wrap">
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
    <app-bookmark [isTrending]="false"></app-bookmark>
  </div>
</div>
