<!-- home.component.html -->
<div class="flex flex-col lg:flex-row w-full min-h-screen relative md:p-[25px]">
  <!-- navigation for desktop and nav header for mobile -->
  <div
    class="p-4 md:p-[27px] lg:w-[80px] bg-semi-dark-blue flex lg:flex-col items-center justify-between sticky md:rounded-[10px] top-0 left-0 w-full z-40"
  >
    <div>
      <img
        src="assets/logo.svg"
        class="w-[25px] h-5 md:w-8 md:h-[25px]"
        alt="logo"
      />
    </div>
    <div
      class="flex items-center lg:flex-col gap-6 md:gap-8 lg:gap-10 lg:absolute lg:top-[136px]"
    >
      <!-- Home Icon -->
      <div
        (mouseenter)="setMainHover()"
        (mouseleave)="setMainHoverFalse()"
        (click)="setActiveFeature('main')"
        class="cursor-pointer"
      >
        <img
          *ngIf="activeFeature === 'main' && !mainHovered"
          src="assets/icon-nav-home-activated.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-home-activated"
        />
        <img
          *ngIf="mainHovered"
          src="assets/icon-nav-home-hovered.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-home-hovered"
        />
        <img
          *ngIf="activeFeature !== 'main' && !mainHovered"
          src="assets/icon-nav-home.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-home"
        />
      </div>

      <!-- Movies Icon -->
      <div
        (mouseenter)="setMoviesHover()"
        (mouseleave)="setMoviesHoverFalse()"
        (click)="setActiveFeature('movies')"
        class="cursor-pointer"
      >
        <img
          *ngIf="activeFeature === 'movies' && !moviesHovered"
          src="assets/icon-nav-movies-activated.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-movies-activated"
        />
        <img
          *ngIf="moviesHovered"
          src="assets/icon-nav-movies-hovered.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-movies-hovered"
        />
        <img
          *ngIf="activeFeature !== 'movies' && !moviesHovered"
          src="assets/icon-nav-movies.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-movies"
        />
      </div>

      <!-- TV Series Icon -->
      <div
        (mouseenter)="setTvSeriesHover()"
        (mouseleave)="setTvSeriesHoverFalse()"
        (click)="setActiveFeature('tv-series')"
        class="cursor-pointer"
      >
        <img
          *ngIf="activeFeature === 'tv-series' && !tvSeriesHovered"
          src="assets/icon-nav-tv-series-activated.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-tv-series-activated"
        />
        <img
          *ngIf="tvSeriesHovered"
          src="assets/icon-nav-tv-series-hovered.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-tv-series-hovered"
        />
        <img
          *ngIf="activeFeature !== 'tv-series' && !tvSeriesHovered"
          src="assets/icon-nav-tv-series.svg"
          class="w-[16px] h-4 md:w-5 md:h-[20px]"
          alt="icon-nav-tv-series"
        />
      </div>

      <!-- Bookmarked Icon -->
      <div
        (mouseenter)="setBookmarkedHover()"
        (mouseleave)="setBookmarkedHoverFalse()"
        (click)="setActiveFeature('bookmarked')"
        class="cursor-pointer"
      >
        <img
          *ngIf="activeFeature === 'bookmarked' && !bookmarkedHovered"
          src="assets/icon-nav-bookmark-activated.svg"
          class="w-[13px] h-4 md:w-4 md:h-[20px]"
          alt="icon-nav-bookmark-activated"
        />
        <img
          *ngIf="bookmarkedHovered"
          src="assets/icon-nav-bookmark-hovered.svg"
          class="w-[13px] h-4 md:w-4 md:h-[20px]"
          alt="icon-nav-bookmark-hovered"
        />
        <img
          *ngIf="activeFeature !== 'bookmarked' && !bookmarkedHovered"
          src="assets/icon-nav-bookmark.svg"
          class="w-[13px] h-4 md:w-4 md:h-[20px]"
          alt="icon-nav-bookmark"
        />
      </div>
    </div>
    <div
      class="w-6 h-6 rounded-full p-[2px] bg-pure-white relative cursor-pointer"
    >
      <img
        src="assets/image-avatar.png"
        class="w-full h-full"
        alt="image-avatar"
        (click)="toggleLogout()"
      />

      <div
        *ngIf="dropLogout"
        (click)="Logout()"
        class="absolute top-8 -left-6 p-1 z-50 lg:-top-14 lg:-left-1 cursor-pointer lg:p-2 bg-dark-blue border-[1px] border-red rounded-xl"
      >
        <p class="text-white text-body-s lg:text-body-m">Logout</p>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div
    class="px-4 mt-[10px] lg:mt-0 md:mt-[33px] lg:flex-1 lg:max-h-[calc(100vh-50px)] lg:overflow-y-auto custom-scroll"
  >
    <div
      class="sticky top-[56px] md:top-[78px] lg:top-[-1px] z-40 py-4 bg-dark-blue"
    >
      <app-search></app-search>
    </div>
    <!-- main header search -->
    <router-outlet></router-outlet>
  </div>
</div>
