<div class="flex items-center gap-4 h-[32px]">
  <div class="pb-2">
    <img
      src="assets/icon-search.svg"
      class="w-[18px] h-[18px]"
      alt="icon-search"
    />
  </div>
  <div
    class="h-full pb-[4px] w-full"
    [ngClass]="{ 'border-b-[1px] border-graish-blue': isTyping }"
  >
    <input
      class="text-pure-white w-full text-[16px] font-light outline-none border-none bg-transparent focus:caret-red"
      placeholder="Search for movies or TV series"
      (blur)="isTypingOutput()"
      (focus)="isTypingInput()"
    />
  </div>
</div>
